@font-face{
    font-family:"R-black";
    src: url(Raleway/Raleway-Black.ttf);
}
@font-face{
    font-family: "R-regular";
    src: url(Raleway/Raleway-Regular.ttf);
}
@font-face{
    font-family: "R-medium";
    src: url(Raleway/Raleway-Medium.ttf);
}
@font-face{
    font-family: "R-bold";
    src: url(Raleway/Raleway-Bold.ttf);
}
@font-face{
    font-family: "R-extrabold";
    src: url(Raleway/Raleway-ExtraBold.ttf);
}